* {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Mono", monospace;
  }
  
  body {
    max-width: 100%;
    background-color: rgb(247, 247, 247);
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 60px;
    padding-right: 10px;
    background-color: rgb(12, 0, 94);
    color: lightgrey;
    box-shadow: 0px 3px 5px 2px rgb(158, 158, 158);
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo > img {
    height: 75%;
    padding: 20px;
  }
  
  .menucontainer {
    display: flex;
    flex-direction: row;
  }
  
  .menubutton {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
  }
  
  .menubutton > img {
    height: 100%;
    padding-right: 5px;
  }
  
  .statsprof {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  
  .xpbar {
    height: 60%;
    width: 200px;
    background-color: lightblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
  }
  
  .xpbar > p {
    color: white;
  }
  
  .credits,
  .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .credits {
    padding: 0px 20px;
  }
  
  .credits > img {
    height: 30px;
  }
  
  .credits > p {
    font-weight: bold;
  }
  
  .profile {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .profile > img {
    height: 25px;
  }
  
  .dot {
    height: 35px;
    width: 35px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  
  .mainboxes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
  }
  
  .boxleft {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 15px;
  }
  
  table {
    font-size: small;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0px 0px 8px 1px rgb(214, 214, 214);
    border-collapse: collapse;
  }
  
  tr {
    border-bottom: 1px solid rgb(206, 206, 206);
  }
  
  th,
  td {
    padding: 15px;
    text-align: left;
  }
  
  th {
    font-size: smaller;
    color: grey;
  }
  
  #thpijl {
    display: flex;
    font-size: smaller;
    color: grey;
  
  }
  
  #pijl {
    height: 15px;
    align-items: center;
    padding-left: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: rgb(142, 194, 142);
    border-radius: 4px;
    color: white;
    border: none;
  }
  
  .boxright {
    display: flex;
    flex-direction: column;
    width: 15%;
    padding: 15px;
    margin-top: 20px;
    background-color: white;
    border: rgb(212, 212, 212) solid 1px;
    box-shadow: 0px 0px 8px 1px rgb(214, 214, 214);
  }
  
  .boxright > p {
    font-size: small;
    padding: 5px;
  }
  
  .boxright > h3 {
    padding-bottom: 20px;
    padding-left: 5px;
  }